@import "/src/styles/components.css";
@import "/src/styles/fonts.css";
@import "/src/styles/global.css";
@import "/src/styles/helpers.css";
@import "/src/styles/pages.css";
@import "/src/styles/container.css";

:root {
    --accent: #7b3c94;
    --text: #242424;
    --background: #ffffff;

    --success: #3d8b2b;
    --error: #b43939;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #242424;
        --text: #c1b7b0;
    }
}
