/*
+---------------+
|   Accordion   |
+---------------+
*/

.accordion {
    border: 1px solid var(--text);
}

.accordion .std-trigger {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
}

.accordion .trigger:hover {
    cursor: pointer;
    user-select: none;
}

.accordion.open .trigger .indicator {
    transform: rotate(180deg);
}

.accordion .content {
    display: grid;
    grid-template-rows: 0fr;
}

.accordion .content > * {
    overflow: hidden;
}

.accordion.open .content {
    border-top: 1px solid var(--text);
    grid-template-rows: 1fr;
}

/*
+----------+
|   Card   |
+----------+
*/

.card {
    display: inline-block;
    padding: .8rem 1.2rem;
    border: 1px solid var(--text);
}

/*
+---------------+
|   Codeblock   |
+---------------+
 */

.codeblock {
    border: 1px solid var(--text);
    padding: 1em 2em;
}

/*
+------------+
|   Header   |
+------------+
 */

.header {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--text);
}

.header .home-link {
    font-size: 2rem;
    color: var(--text);
    text-decoration: unset;
    font-weight: 700;
}