/*
+---------------+
|   Accordion   |
+---------------+
*/
.accordion .trigger:hover {
    cursor: pointer;
}

.accordion .content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease;
}

.accordion .content > * {
    overflow: hidden;
}

.accordion.open .content {
    grid-template-rows: 1fr;
}

/*
+----------+
|   Card   |
+----------+
*/
.card {
    display: inline-block;
    box-shadow: 1px 1px 24px 0 rgba(0, 0, 0, 0.2);
    padding: .8rem 1.2rem;
    border-radius: 1rem;
}