/*
Add simple, reusable classes to this file.
 */

.text-bold {
    font-weight: bold;
}

.text-success {
    color: var(--success);
}

.text-error {
    color: var(--error);
}

.text-center {
    text-align: center;
}

.no-underline {
    text-decoration: none;
}