/* +-----------+ */
/* |   Index   | */
/* +-----------+ */

#index-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* +---------------+ */
/* |   Not Found   | */
/* +---------------+ */

